/home/konny135/PycharmProjects/AMLS_assignment22_23/A1/Gender_classifier_gen/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
